.pokemon-wrapper{
    display: block;
    flex-basis: 30%;
    text-decoration: none;
    color: black;
}
.pokemon{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-top: 4rem;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
}
.pokemon:hover{
    background-color: burlywood;
}
.pokemon-image{
    max-height: 50%;
    min-height: 200px;
}
.pokemon-name{
    letter-spacing: 10px;
    font-size: larger;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}